{
  "numThreads" : 200,
  "connectionTimeout" : 60000,
  "socketTimeout" : 30000,
  "cloudantAccount" : "juniorfoo",
  "cloudantDatabase" : "db_importer_test",
  "cloudantUser" : "belymedgairaimpamomingen",
  "cloudantPassword" : "ARE YOU SURE YOU WANT THIS HERE",
  "autoCastDatesToNumbers" : "false",
  "autoCastDatesToStrings" : "true",
  "autoCastDatesFormat" : "yyyyMMddHHmmss",
  "autoCastDatesTimezone" : "UTC",
  "tables" : [ 
	  {
	    "name" : "Person",
	    "jsonDocumentType" : "Person",
	    "idFields" : [ "_id" ],
	    "fileNames" : [ "Person.csv" ],
	    "nestType" : "PARENT",
    	"dataFields" : [ 
	        {
	          "dbFieldName" : "LastFourSsn",
	          "isNumericHint" : true
	        },
	        {
	          "dbFieldName" : "EntityTimestamp",
	          "isDate" : true,
	          "outputString" : true,
	          "outputDateStringFormat" : "yyyyMMddHHmmss",
	          "outputDateStringTimezone" : "UTC"
	        },
	        {
	          "dbFieldName" : "BirthDate",
	          "isNotDate" : true
	        }
	     ]
	  },
	  {
	    "name" : "Address",
	    "parentIdFields" : [ "ParentId" ],
	    "uniqueIdField" : "AddressRowidObject",
	    "idFields" : [ "AddressRowidObject" ],
	    "nestField" : "Address",
	    "fileNames" : [ "Address.csv" ],
	    "nestType" : "ARRAY"
	  }	  
  ]
}