{
  "cloudantAccount" : "juniorfoo",
  "cloudantDatabase" : "db_importer_test",
  "cloudantUser" : "thingentlygaystreedinumm",
  "cloudantPass" : "sTcXquKpJ37ayrNdgDV0DDAI",
  "defaultSqlUrl" : "jdbc:hsqldb:file:examples/db_example/dbexample",
  "defaultSqlDriver" : "org.hsqldb.jdbcDriver",
  "defaultSqlUser" : "sa",
  "defaultSqlPass" : "<BLANK>",
  "tables" : [ 
	  {
	    "jsonDocumentType" : "Person",
	    "idFields" : [ "id" ],
	    "useDatabase" : true,
	    "nestType" : "PARENT",
	    "sqlQuery" : "select * from Party"
	  },
	  {
	    "jsonDocumentType" : "Phone",
	    "idField" : "PhoneId",
	    "idFields" : [ "id" ],
	    "parentIdFields" : [ "parent_id" ],
	    "nestField" : "Phone",
	    "useDatabase" : true,
	    "nestType" : "ARRAY",
	    "sqlQuery" : "select * from Phone"
	  }
  ]
}