{
  "cloudantAccount" : "juniorfoo",
  "cloudantDatabase" : "db_importer_test",
  "cloudantUser" : "thingentlygaystreedinumm",
  "cloudantPass" : "sTcXquKpJ37ayrNdgDV0DDAI",
  "tables" : [ 
	  {
	    "jsonDocumentType" : "Person",
	    "idFields" : [ "_id" ],
	    "fileNames" : [ "Party.txt" ],
	    "nestType" : "PARENT",
    	"dataFields" : [ 
	        {
	          "dbFieldName" : "LastFourSsn",
	          "isNumericHint" : true
	        }
	     ]
	  },
	  {
	    "parentIdFields" : [ "_id" ],
	    "idField" : "AddressRowidObject",
	    "idFields" : [ "AddressRowidObject" ],
	    "nestField" : "Address",
	    "fileNames" : [ "Address.txt" ],
	    "nestType" : "ARRAY"
	  },
	  {
	    "parentIdFields" : [ "_id" ],
	    "idField" : "ElectronicAddressRowidObject",
	    "idFields" : [ "ElectronicAddressRowidObject" ],
	    "nestField" : "ElectronicAddress",
	    "fileNames" : [ "ElectronicAddress.txt" ],
	    "nestType" : "ARRAY"
	  },
	  {
	    "parentIdFields" : [ "_id" ],
	    "idField" : "PartyIdHistoryRowidObject",
	    "idFields" : [ "PartyIdHistoryRowidObject" ],
	    "nestField" : "PartyIdHistory",
	    "fileNames" : [ "PartyIdHistory.txt" ],
	    "nestType" : "ARRAY"
	  },
	  {
	    "parentIdFields" : [ "_id" ],
	    "idField" : "PhoneRowidObject",
	    "idFields" : [ "PhoneRowidObject" ],
	    "nestField" : "Phone",
	    "fileNames" : [ "Phone.txt" ],
	    "nestType" : "ARRAY"
	  },
	  {
	    "parentIdFields" : [ "_id" ],
	    "idField" : "PartyXrefRowidObject",
	    "idFields" : [ "PartyXrefRowidObject" ],
	    "nestField" : "PartyXref",
	    "fileNames" : [ "PartyXref.txt" ],
	    "nestType" : "ARRAY"
	  },
	  {
	    "jsonDocumentType" : "Policy",
	    "idFields" : [ "ContractRowidObject" ],
	    "fileNames" : [ "Policy.txt" ],
	    "nestType" : "PARENT",
    	"dataFields" : [ 
	        {
	          "dbFieldName" : "_id",
	          "jsonFieldName" : "PartyId",
	          "isReference" : true
	        }
	     ]
	  }
  ]
}