{
  "cloudantAccount" : "juniorfoo",
  "cloudantDatabase" : "db_importer_test",
  "cloudantUser" : "thingentlygaystreedinumm",
  "cloudantPass" : "sTcXquKpJ37ayrNdgDV0DDAI",
  "autoCastDatesToNumbers" : "false",
  "autoCastDatesToStrings" : "true",
  "autoCastDatesFormat" : "yyyyMMddHHmmss",
  "autoCastDatesTimezone" : "UTC",
  "tables" : [ 
	  {
	    "name" : "Person",
	    "jsonDocumentType" : "Person",
	    "idFields" : [ "_id" ],
	    "fileNames" : [ "Party.txt" ],
	    "nestType" : "PARENT",
    	"dataFields" : [ 
	        {
	          "dbFieldName" : "LastFourSsn",
	          "isNumericHint" : true
	        },
	        {
	          "dbFieldName" : "EntityTimestamp",
	          "isDate" : true,
	          "outputString" : true,
	          "outputDateStringFormat" : "yyyyMMddHHmmss",
	          "outputDateStringTimezone" : "UTC"
	        },
	        {
	          "dbFieldName" : "BirthDate",
	          "isNotDate" : true
	        }
	     ]
	  },
	  {
	    "name" : "Address",
	    "parentIdFields" : [ "_id" ],
	    "idField" : "AddressRowidObject",
	    "idFields" : [ "AddressRowidObject" ],
	    "nestField" : "Address",
	    "fileNames" : [ "Address.txt" ],
	    "nestType" : "ARRAY"
	  },
	  {
	    "name" : "ElectronicAddress",
	    "parentIdFields" : [ "_id" ],
	    "idField" : "ElectronicAddressRowidObject",
	    "idFields" : [ "ElectronicAddressRowidObject" ],
	    "nestField" : "ElectronicAddress",
	    "fileNames" : [ "ElectronicAddress.txt" ],
	    "nestType" : "ARRAY"
	  },
	  {
	    "name" : "PartyIdHistory",
	    "parentIdFields" : [ "_id" ],
	    "idField" : "PartyIdHistoryRowidObject",
	    "idFields" : [ "PartyIdHistoryRowidObject" ],
	    "nestField" : "PartyIdHistory",
	    "fileNames" : [ "PartyIdHistory.txt" ],
	    "nestType" : "ARRAY"
	  },
	  {
	    "name" : "Phone",
	    "parentIdFields" : [ "_id" ],
	    "idField" : "PhoneRowidObject",
	    "idFields" : [ "PhoneRowidObject" ],
	    "nestField" : "Phone",
	    "fileNames" : [ "Phone.txt" ],
	    "nestType" : "ARRAY",
    	"dataFields" : [ 
	        {
	          "dbFieldName" : "PhoneNumber",
	          "transformScriptLanguage" : "GROOVY",
	          "transformScript" : "return String.format(\"(%s) %s-%s\", input.substring(0, 3), input.substring(3, 6), input.substring(6, 10))"
	        },
	        {
	          "dbFieldName" : "PhoneTypeCode",
	          "transformScriptLanguage" : "JAVASCRIPT",
	          "transformScript" : "if (input === 'RES') { return 'Residential' } else if (input === 'BUS') { return 'Business' } if (input === 'MOBILE') { return 'Mobile' } else { return input }"
	        }
	     ]
	  },
	  {
	    "name" : "PartyXref",
	    "parentIdFields" : [ "_id" ],
	    "idField" : "PartyXrefRowidObject",
	    "idFields" : [ "PartyXrefRowidObject" ],
	    "nestField" : "PartyXref",
	    "fileNames" : [ "PartyXref.txt" ],
	    "nestType" : "ARRAY"
	  },
	  {
	    "name" : "Policy",
	    "jsonDocumentType" : "Policy",
	    "idFields" : [ "ContractRowidObject" ],
	    "fileNames" : [ "Policy.txt" ],
	    "nestType" : "PARENT",
    	"dataFields" : [ 
	        {
	          "dbFieldName" : "_id",
	          "jsonFieldName" : "PartyId",
	          "isReference" : true
	        }
	     ]
	  }
  ]
}