{
  "tables" : [ {
    "jsonDocumentType" : "Person",
    "idFields" : [ "nId" ],
    "fileNames" : [ "person.csv" ],
    "dataFields" : [ 
        {
          "dbFieldName" : "sFirstName",
          "jsonFieldName" : "fName"
        },
        {
          "dbFieldName" : "sLastName",
          "jsonFieldName" : "lName"
        },
        {
          "dbFieldName" : "nAge",
          "jsonFieldName" : "age"
        },
        {
          "dbFieldName" : "sSomethingToIgnore",
          "include" : "false"
        },
        {
          "dbFieldName" : "sSomethingToInclude",
          "jsonFieldName" : "extra"
        }
     ],
    "nestType" : "PARENT"
  } ]
}